.login{
  height: 100%;
}
.center{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form{
  width: 450px;
  padding: 20px;
}
.title{
  margin-bottom: 20px;
}